<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>r6s</title>
</head>
<body>
<ul>
    <li><a href="/seasons/mmr">MMR</a></li>
    <li><a href="/seasons/killRatio">キルレ</a></li>
</ul>
</body>
</html><!DOCTYPE html>
