<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>r6s</title>
</head>
<body>
<ul>
    <li><a href="/seasons/mmr">MMR</a></li>
    <li><a href="/seasons/killRatio">キルレ</a></li>
    <li><a href="/operators/Smoke">Smoke</a></li>
    <li><a href="/operators/Mute">Mute</a></li>
    <li><a href="/operators/Castle">Castle</a></li>
    <li><a href="/operators/Pulse">Pulse</a></li>
    <li><a href="/operators/Doc">Doc</a></li>
    <li><a href="/operators/Rook">Rook</a></li>
    <li><a href="/operators/Kapkan">Kapkan</a></li>
    <li><a href="/operators/Tachanka">Tachanka</a></li>
    <li><a href="/operators/Jager">Jager</a></li>
    <li><a href="/operators/Bandit">Bandit</a></li>
    <li><a href="/operators/Frost">Frost</a></li>
    <li><a href="/operators/Valkyrie">Valkyrie</a></li>
    <li><a href="/operators/Caveira">Caveira</a></li>
    <li><a href="/operators/Echo">Echo</a></li>
    <li><a href="/operators/Mira">Mira</a></li>
    <li><a href="/operators/Lesion">Lesion</a></li>
    <li><a href="/operators/Ela">Ela</a></li>
    <li><a href="/operators/Vigil">Vigil</a></li>
    <li><a href="/operators/Maestro">Maestro</a></li>
    <li><a href="/operators/Alibi">Alibi</a></li>
    <li><a href="/operators/Clash">Clash</a></li>
    <li><a href="/operators/Kaid">Kaid</a></li>
    <li><a href="/operators/Mozzie">Mozzie</a></li>
    <li><a href="/operators/Warden">Warden</a></li>
    <li><a href="/operators/Goyo">Goyo</a></li>
    <li><a href="/operators/Wamai">Wamai</a></li>
    <li><a href="/operators/Oryx">Oryx</a></li>
    <li><a href="/operators/Sledge">Sledge</a></li>
    <li><a href="/operators/Thatcher">Thatcher</a></li>
    <li><a href="/operators/Ash">Ash</a></li>
    <li><a href="/operators/Thermite">Thermite</a></li>
    <li><a href="/operators/Twitch">Twitch</a></li>
    <li><a href="/operators/Montagne">Montagne</a></li>
    <li><a href="/operators/Glaz">Glaz</a></li>
    <li><a href="/operators/Fuze">Fuze</a></li>
    <li><a href="/operators/Blitz">Blitz</a></li>
    <li><a href="/operators/Iq">Iq</a></li>
    <li><a href="/operators/Buck">Buck</a></li>
    <li><a href="/operators/Blackbeard">Blackbeard</a></li>
    <li><a href="/operators/Capitao">Capitao</a></li>
    <li><a href="/operators/Hibana">Hibana</a></li>
    <li><a href="/operators/Jackal">Jackal</a></li>
    <li><a href="/operators/Ying">Ying</a></li>
    <li><a href="/operators/Zofia">Zofia</a></li>
    <li><a href="/operators/Dokkaebi">Dokkaebi</a></li>
    <li><a href="/operators/Lion">Lion</a></li>
    <li><a href="/operators/Finka">Finka</a></li>
    <li><a href="/operators/Maverick">Maverick</a></li>
    <li><a href="/operators/Nomad">Nomad</a></li>
    <li><a href="/operators/Gridlock">Gridlock</a></li>
    <li><a href="/operators/Nakk">Nakk</a></li>
    <li><a href="/operators/Amaru">Amaru</a></li>
    <li><a href="/operators/Kali">Kali</a></li>
    <li><a href="/operators/Iana">Iana</a></li>
</ul>
</body>
</html><!DOCTYPE html>
