<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>r6s</title>
</head>
<body>
<ul>
    <li><a href="/seasons/mmr">MMR</a></li>
    <li><a href="/seasons/killRatio">キルレ（ランクのみ）</a></li>
    <li><a href="/operators/Smoke"><img src="../public/img/smoke.png" width="100"></a></li>
    <li><a href="/operators/Mute"><img src="../public/img/mute.png" width="100"></a></li>
    <li><a href="/operators/Castle"><img src="../public/img/castle.png" width="100"></a></li>
    <li><a href="/operators/Pulse"><img src="../public/img/pulse.png" width="100"></a></li>
    <li><a href="/operators/Doc"><img src="../public/img/doc.png" width="100"></a></li>
    <li><a href="/operators/Rook"><img src="../public/img/rook.png" width="100"></a></li>
    <li><a href="/operators/Kapkan"><img src="../public/img/kapkan.png" width="100"></a></li>
    <li><a href="/operators/Tachanka"><img src="../public/img/tachanka.png" width="100"></a></li>
    <li><a href="/operators/Jager"><img src="../public/img/jager.png" width="100"></a></li>
    <li><a href="/operators/Bandit"><img src="../public/img/bandit.png" width="100"></a></li>
    <li><a href="/operators/Frost"><img src="../public/img/frost.png" width="100"></a></li>
    <li><a href="/operators/Valkyrie"><img src="../public/img/valkyrie.png" width="100"></a></li>
    <li><a href="/operators/Caveira"><img src="../public/img/caveira.png" width="100"></a></li>
    <li><a href="/operators/Echo"><img src="../public/img/echo.png" width="100"></a></li>
    <li><a href="/operators/Mira"><img src="../public/img/mira.png" width="100"></a></li>
    <li><a href="/operators/Lesion"><img src="../public/img/lesion.png" width="100"></a></li>
    <li><a href="/operators/Ela"><img src="../public/img/ela.png" width="100"></a></li>
    <li><a href="/operators/Vigil"><img src="../public/img/vigil.png" width="100"></a></li>
    <li><a href="/operators/Maestro"><img src="../public/img/maestro.png" width="100"></a></li>
    <li><a href="/operators/Alibi"><img src="../public/img/alibi.png" width="100"></a></li>
    <li><a href="/operators/Clash"><img src="../public/img/clash.png" width="100"></a></li>
    <li><a href="/operators/Kaid"><img src="../public/img/kaid.png" width="100"></a></li>
    <li><a href="/operators/Mozzie"><img src="../public/img/mozzie.png" width="100"></a></li>
    <li><a href="/operators/Warden"><img src="../public/img/warden.png" width="100"></a></li>
    <li><a href="/operators/Goyo"><img src="../public/img/goyo.png" width="100"></a></li>
    <li><a href="/operators/Wamai"><img src="../public/img/wamai.png" width="100"></a></li>
    <li><a href="/operators/Oryx"><img src="../public/img/oryx.png" width="100"></a></li>
    <li><a href="/operators/Sledge"><img src="../public/img/sledge.png" width="100"></a></li>
    <li><a href="/operators/Thatcher"><img src="../public/img/thatcher.png" width="100"></a></li>
    <li><a href="/operators/Ash"><img src="../public/img/ash.png" width="100"></a></li>
    <li><a href="/operators/Thermite"><img src="../public/img/thermite.png" width="100"></a></li>
    <li><a href="/operators/Twitch"><img src="../public/img/twitch.png" width="100"></a></li>
    <li><a href="/operators/Montagne"><img src="../public/img/montagne.png" width="100"></a></li>
    <li><a href="/operators/Glaz"><img src="../public/img/glaz.png" width="100"></a></li>
    <li><a href="/operators/Fuze"><img src="../public/img/fuze.png" width="100"></a></li>
    <li><a href="/operators/Blitz"><img src="../public/img/blitz.png" width="100"></a></li>
    <li><a href="/operators/Iq"><img src="../public/img/iq.png" width="100"></a></li>
    <li><a href="/operators/Buck"><img src="../public/img/buck.png" width="100"></a></li>
    <li><a href="/operators/Blackbeard"><img src="../public/img/blackbeard.png" width="100"></a></li>
    <li><a href="/operators/Capitao"><img src="../public/img/capitao.png" width="100"></a></li>
    <li><a href="/operators/Hibana"><img src="../public/img/hibana.png" width="100"></a></li>
    <li><a href="/operators/Jackal"><img src="../public/img/jackal.png" width="100"></a></li>
    <li><a href="/operators/Ying"><img src="../public/img/ying.png" width="100"></a></li>
    <li><a href="/operators/Zofia"><img src="../public/img/zofia.png" width="100"></a></li>
    <li><a href="/operators/Dokkaebi"><img src="../public/img/dokkaebi.png" width="100"></a></li>
    <li><a href="/operators/Lion"><img src="../public/img/lion.png" width="100"></a></li>
    <li><a href="/operators/Finka"><img src="../public/img/finka.png" width="100"></a></li>
    <li><a href="/operators/Maverick"><img src="../public/img/maverick.png" width="100"></a></li>
    <li><a href="/operators/Nomad"><img src="../public/img/nomad.png" width="100"></a></li>
    <li><a href="/operators/Gridlock"><img src="../public/img/gridlock.png" width="100"></a></li>
    <li><a href="/operators/Nakk"><img src="../public/img/nokk.png" width="100"></a></li>
    <li><a href="/operators/Amaru"><img src="../public/img/amaru.png" width="100"></a></li>
    <li><a href="/operators/Kali"><img src="../public/img/kali.png" width="100"></a></li>
    <li><a href="/operators/Iana"><img src="../public/img/iana.png" width="100"></a></li>
</ul>
</body>
</html><!DOCTYPE html>
